<div *ngIf="!showFinish" class="row">
  <!-- <app-timer></app-timer> -->
  <h2 class=" header">שאלה מס' {{qnumber}}</h2>
  <div class="card pull-left" dir="rtl" style="background-color: white">
    <div class="card-header">
      <h4>זמן שנותר לסיום</h4>
    </div>
    <div class="card-body text-center">
      <countdown [config]="counterConfig" (finished)="calcUser(false)"></countdown>
    </div>
  </div>
</div>
<div *ngIf="!showFinish" class="margin">

  <div class="row" dir="rtl">

    <div>
      <div class="row">
        <div class="col-md-4">
          <img class="media-object" src="{{img}}">
        </div>
        <div class="col-md-7">
          <h3 [innerHTML]="question"></h3>
        </div>
      </div>
    </div>
  </div>

  <!--<div *ngIf="!showFinish" class="col-md-12 pull-right col-md-offset-3">-->
    <!--<ul>-->
      <!--<li *ngFor="let answer of Answers" dir="rtl">-->
        <!--<label for={{answer.num}} dir="rtl">-->
            <!---->
        <!--</label>-->
        <!--<input id={{answer.num}} type="radio" class="radio" [(ngModel)]=radiogroup name="radiogroup">-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
  <div *ngIf="!showFinish" class="col-md-12 pull-right col-md-offset-3">
    <section *ngFor="let answer of Answers" dir="rtl">
      <input id={{answer.num}} type="radio" class="radio" [(ngModel)]=radiogroup name="radiogroup" value={{answer.num}} (checked)="radiogroup == answer.num">
      <label for={{answer.num}} dir="rtl">
        {{answer.ans}}
      </label>
    </section>
  </div>
  <div class="row col-md-8 pull-left">
    <button id="next" type="button" class="btn btn-primary" (click)="saveAnswer()">שאלה הבאה</button>
    <button id="back" type="button" class="btn btn-danger" (click)="backQuestion()">שאלה קודמת</button>
    <button *ngIf="finish" id="finish" type="button" class="btn btn-danger" (click)="calcUser(true)">סיים שאלון</button>
  </div>

</div>
<div *ngIf="showFinish" class="col-md-7 margin" style="color: white" dir="rtl">
  <h2>סיימת את השאלון, בהצלחה!</h2>
</div>
