<div id="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header pull-right">
      <a class="navbar-brand" [routerLink]="['/']">Math</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-left top-nav">
        <li *ngIf="!auth.loggedIn()">
          <a [routerLink]="['login']">כניסה</a>
        </li>
        <li *ngIf="auth.loggedIn()">
          <a (click)="onLogout()" href="#">התנתק</a>
        </li>
        <li *ngIf="auth.loggedIn()">
          <a [routerLink]="['profile']">פרופיל</a>
        </li>
        <li *ngIf="auth.hasRole('student')">
          <a [routerLink]="['dashboard']">לוח בקרה</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse" dir="rtl">
      <ul class="nav navbar-nav side-nav pull-right">
        <li>
          <a [routerLink]="['cloudlinks']">קישורים לענן</a>
        </li>
        <li>
          <a [routerLink]="['literature']">ספרות</a>
        </li>
        <li *ngIf="auth.hasRole('educator','admin')">
          <a [routerLink]="['groups']">ניהול קבוצות</a>
        </li>
        <li *ngIf="auth.hasRole('student')">
          <a href="javascript:;" data-toggle="collapse" data-target="#demo">כלים פדגוגיים</a>
          <ul id="demo" class="collapse">
            <li>
              <a [routerLink]="['vanhilequiz']">שאלון ואן הילה</a>
            </li>
          </ul>
        </li>
        <li *ngIf="auth.loggedIn()">
          <a href="javascript:;" data-toggle="collapse" data-target="#repo">דו"חות</a>
          <ul id="repo" class="collapse">
            <li>
              <a href="javascript:;" data-toggle="collapse" data-target="#VanHilleRepo">דו"חות ואן הילה</a>
              <ul id="VanHilleRepo" class="collapse">
                <li *ngIf="auth.hasRole('student')">
                  <a [routerLink]="['vanhille/studentreport']">דו"ח לסטודנט</a>
                </li>
                <li>
                  <a [routerLink]="['vanhille/classreport']">דו"ח כללי</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
