<div id="tbls" class="jumbotron text-center margin">
  <h2 dir="rtl" style="text-decoration: underline">קישורים לענן</h2>
  <div *ngIf="tables_array != undefined">
    <div *ngFor="let table of tables_array">
      <h3>{{table.tableId}}</h3>
      <ng2-smart-table [settings] = "table.settings_obj" [source] = "table.data" ></ng2-smart-table>
    </div>
  </div>
</div>

<button class="btn btn-success col-md-offset-4" data-toggle="modal" data-target="#addTableFormModal">add a table
</button>
<div class="modal fade" id="addTableFormModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal Add Table content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Add A Table Form</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="tableHeader">Table Header Name:</label>
            <input type="text" id="tableHeader" class="form-control" placeholder="Enter A Table Header"
                   [(ngModel)]="tableName" name="tableName">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addTable()">Submit</button>
      </div>
    </div>

  </div>
</div>
<!-- <p dir="rtl">
  קישורים לענן יגיעו בהמשך!
</p> -->
<!-- https://github.com/akveo/ng2-smart-table -->
