/* You can add global styles to this file, and also import other style files */
.margin {
  margin-top: 100px;
}
.header {
  color: white;
}

@media print {
  .no-print,
  nav,
  #wrapper {
    display: none !important;
  }
  .margin {
    margin-top: 0;
  }
  body {
    background: white;
  }
}
