.margin {
  margin-top: 60px;
  padding: 0;
}

@media (min-width: 768px) {
  .margin {
    padding-right: 220px;
  }
}

.backimg {
  background-image: url("../assets/background.jpg");
  /*background-repeat: no-repeat;*/
  height: 150%;


  background-position: center;
  background-size: cover;
}
